.form-section
	height: 100vh
	min-height: 800px
	font-family: 'Open Sans', sans-serif
	overflow: hidden

	@include bp(1024, min)
		display: flex

	.img-holder
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		display: flex
		flex-direction: column
		color: white
		font-size: 16px
		font-weight: 600
		position: relative
		padding: 1rem 0 1rem 1rem
		justify-content: center
		@include bp(1440, min)
			flex: 0 0 50%
			font-size: 20px

		h1
			font-size: 40px
			line-height: 1.025
			@include bp(1440, min)
				font-size: 80px

		h2
			font-size: 30px
			margin-bottom: 39px

		.logo
			display: block
			width: 130px
			height: 24px
			@include bp(768, min)
				margin-top: 30px
			@include bp(1440, min)
				margin-top: 0
				position: absolute
				bottom: 61px
				left: 67px


	.form-holder
		flex: 0 0 50%
		position: relative
		.form-step
			background-color: white
			// padding: 60px 20px
			position: relative
			padding: 6rem 9.5rem 6rem 2rem
			@include bp(768, min)
				max-width: 600px
				margin: 0 auto
			@include bp(1440, min)
				height: 100%
				// padding: 20% 29% 7% 15%

			&.hide
				display: none

		.head
			margin-bottom: 30px
			width: 100%

			h2
				font-size: 24px
			&.head-text
				margin-bottom: 70px
				font-size: 12px

		.stick
			display: inline-block
			background: #FFB192
			padding: 4px 10px
			font-size: 14px
			font-weight: 600
			text-transform: uppercase
			margin-bottom: 20px

		.input-row
			padding: 3px 0
			border-bottom: 2px solid #FFB192
			width: 100%
			margin-bottom: 23px
			font-size: 14px

		.password-row
			position: relative
			width: 100%

			.password-info
				position: absolute
				background-color: #FFB192
				padding: 0 10px
				font-size: 11px
				width: 150px
				right: 0
				bottom: 0
				@include bp(1440, min)
					left: 105%
					right: auto
					top: 50%
					transform: translateY(-50%)
					bottom: auto

				&:before
					content: ''
					width: 10px
					height: 10px
					background-color: #FFB192
					position: absolute
					left: -5px
					transform: rotate(45deg) translateY(-50%)
					top: 50%

		.next-step
			display: flex
			align-items: center
			margin-left: auto
			font-size: 14px
			text-transform: uppercase
			font-weight: 600
			max-width: max-content
			margin-left: auto
			cursor: pointer
			@include bp(1440, min)
				position: absolute
				bottom: 68px
				right: 58px

			.circle
				width: 47px
				height: 47px
				background: #383942
				border-radius: 50%
				margin-left: 15px
				position: relative
				transition: all .3s ease
				svg
					position: absolute
					z-index: 1
					left: 50%
					top: 50%
					transform: translate(-50%, -50%)
					width: 50%

			&:hover
				.circle
					background: #FFB192

			&.sub
				padding: 10px 25px
				background: #383942
				border-radius: 20px
				text-align: center
				min-height: 47px
				font-size: 14px
				font-weight: 600
				color: white
				transition: all .3s ease
				&:hover
					background: #FFB192

		.select
			.head-s
				font-size: 16px
				font-weight: 600
				margin-bottom: 0

			input
				padding: 0
				height: initial
				width: initial
				margin-bottom: 0
				display: none
				cursor: pointer
			label
				position: relative
				cursor: pointer
				&:before
					content: ''
					-webkit-appearance: none
					background-color: transparent
					border: 1px solid #FFB192
					padding: 7px
					display: inline-block
					position: relative
					vertical-align: middle
					cursor: pointer
					margin-right: 5px
					margin-bottom: 3px

			input:checked
				+ label:after
					content: ''
					display: block
					position: absolute
					top: 5px
					left: 6px
					width: 6px
					height: 10px
					border: solid black
					border-width: 0 2px 2px 0
					transform: rotate(45deg)

			&.select-one
				margin-bottom: 40px


		h3
			font-size: 14px
			font-weight: 600
			margin-bottom: 14px

		.grid-row
			display: grid
			grid-template-columns: 1fr 1fr
			grid-column-gap: 10px
			grid-row-gap: 5px
			margin-bottom: 15px
			align-items: flex-start
			@include bp(1440, min)
				grid-template-columns: 1fr 1fr 1fr


			&:last-of-type
				margin-bottom: 100px

			.grid-item
				color: #A8A8A8
				padding-bottom: 3px
				max-width: max-content
				cursor: pointer
				font-size: 14px

				input
					padding: 0
					height: initial
					width: initial
					margin-bottom: 0
					display: none
					cursor: pointer
				label
					position: relative
					cursor: pointer

				input:checked
					+ label:after
						content: ''
						position: absolute
						width: 100%
						bottom: -2px
						left: 0
						border-bottom: 3px solid #FFB192

.finish-section
	height: 100vh
	display: flex
	align-items: center
	justify-content: center
	background-color: #FFB192
	color: white
	font-size: 23px
	.text
		text-align: center

	img
		width: 88px
		height: 88px
		margin-bottom: 20px

	h2
		margin-bottom: 10px
		font-size: 36px